<!doctype html>
<html>
<head>
<title>Music</title>
</head>
<body>
<h1>About music</h1>
<p>Yours:</p>
<blockquote>{{course}}, with  {{performer}}, genre: {{genre}}</blockquote>
</body>
</html>
