<!doctype>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <title>Music</title>
</head>
<body>
    <header>Musics Page</header>
    <hr>
    {{{body}}}
    </hr>
    <div class="nav">
    {{! only show home link if on detail page }}
    {{#if musics}}
        {{else}}
    {{/if}}
    </div>

</body>
</html>
